:root {
  --main-color: rgb(113,130,255);
  --secondary-color: rgb(247,96,125);
  --accent-color: rgb(255,179,137);
  --background-color: rgb(45, 45, 45);
  --secondary-background-color: rgb(15, 15, 15);
  --light-text-color: white;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--light-text-color);
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 25px;
  z-index: 4;
  box-shadow: 0px 5px 15px var(--secondary-background-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 25px;
}

.logo img {
  height: 90px;
}

.user-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5px 10px;
  place-items: center;
}

.user-info img {
  height: 30px;
}

.user-info button {
  background-color: var(--main-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--light-text-color);
  font-weight: bold;
}

h1,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 45px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 14px;
}

.content {
  background-color: var(--secondary-background-color);
  flex: 1;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: 1fr;
  gap: 15px;
  padding: 35px;
  justify-items: center;
}

.book-card,
.new-card {
  background-color: var(--background-color);
  width: clamp(225px, 100%, 265px);
  box-sizing: border-box;
  padding: 25px;
  padding-bottom: 10px;
  border: solid transparent;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-card:hover {
  /* border-color: rgba(255, 255, 255, 0.05); */
  background-color: rgb(55, 55, 55);
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-content a {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.delete-button {
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0px;
  height: 25px;
  top: 7.5px;
  right: 7.5px;
}

.read-button {
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 68px;
  background-color: rgba(0, 0, 0, 0.25);
  border: solid var(--light-text-color);
  color: var(--light-text-color);
  font-weight: bold;
}

.read-button.unread {
  font-weight: normal;
  border: solid var(--light-text-color);
  color: var(--light-text-color);
  background-image: none;
  background-color: transparent;
  opacity: 30%;
}

.read-button.unread:hover {
  opacity: 70%;
}

.delete-button img {
  height: 25px;
}

.delete-button img {
  opacity: 35%;
}

.delete-button img:hover {
  opacity: 70%;
}

.delete-button img:hover {
  cursor: pointer;
}

.book-icon {
  height: 90px;
  margin: 10px;
  align-self: center;
  transition: .3s ease-out;
}

.book-icon:hover {
  transform: rotate(-10deg);
}

.new-card {
  padding: 0px;
  background-color: transparent;
  min-height: 275px;
  border-color: rgb(30, 30, 30);
}

.new-card:hover {
  border-color: rgb(25, 25, 25);
  background-color: rgb(25, 25, 25);
}

.new-card img {
  height: 80px;
  transform: rotate(-90deg);
}

.new-card button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0%;
  border: none;
  z-index: 1;
}

.new-card button:hover {
  cursor: pointer;
}

.form-container {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.new-book-form {
  position: absolute;
  top: clamp(160px, calc(15vh + 110px), 360px);
  bottom: clamp(50px, 20vh, 250px);
  left: clamp(45px, 15vw, 200px);
  right: clamp(45px, 15vw, 200px);
  min-height: min-content;
  background-color: var(--background-color);
  padding: 7vh 10vw;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 15px black;
  z-index: 3;
}

.background-defocus {
  position: fixed;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - 110px);
  z-index: 2;
  background-color: black;
  opacity: 50%;
}

.form-input-grid {
  margin-top: 25px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: baseline;
  gap: 15px 10px;
}

input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.form-input-grid button {
  grid-column-start: 2;
  justify-self: end;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.remove-from-display {
  display: none;
}